<section>
        <h2>Create New Post</h2>
        <form id="new-post-form">
            <div>
                <label for="post-title">Title</label>
                <input type="text" id="post-title" size"50" name="post-title" />
            </div>
            <div>
                <label for="post-content">Content</label>
                <textarea name="post-content" id="post-content"></textarea>
            </div>
            <button type="submit" class="btn" id="create-post">Create Post</button>
        </form>
</section>
<script src="/js/newpost.js"></script>