<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
 
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/dashboard">Dashboard</a>
      <div class="buttons">
                    {{#if loggedIn}}
                    <a class="navbar-item button is-primary" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="navbar-item button is-primary" href="/login">Login</a>
                    {{/if}}
                    <a class="navbar-item button is-primary" href="/signup">Sign up</a>

        </div>
    </div>

  </div>
</nav>
<br>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>